:root {
	/* Pure Colors */
	--color-black-rgb: 14, 14, 14;
	--color-black: rgba(var(--color-black-rgb), 1);
	
	--color-white-rgb: 241, 241, 241;
	--color-white: rgba(var(--color-white-rgb), 1);

	/* Primitive Colors */
	--color-dark-rgb: 40, 40, 42;
	--color-dark: rgba(var(--color-dark-rgb), 1);
	
	--color-light-rgb: 236, 234, 229;
	--color-light: rgba(var(--color-light-rgb), 1);
	
	/* Point Colors */
	--color-red-rgb: 255, 69, 1;
	--color-red: rgba(var(--color-red-rgb), 1);
}

/* Theming (Dark) */
:root,
html[data-theme="dark"] {
	/* Backgrounds */
	--color-bg: var(--color-black);
	
	--color-inverse: var(--color-light);
	--color-on-inverse: var(--color-dark);
	
	--color-image-bg: color-mix(in srgb, var(--color-white) 24%, transparent);
	--color-image-bg-inverse: color-mix(in srgb, var(--color-black) 18%, transparent);
	
	/* Text */
	--color-primary: var(--color-light);
	--color-secondary: color-mix(in srgb, var(--color-light) 50%, transparent);

	--color-accent: var(--color-red);
	--color-on-accent: var(--color-black);
	
	/* Alpha variants */
	--color-neutral-100: color-mix(in srgb, var(--color-white) 16%, transparent);
	--color-neutral-200: color-mix(in srgb, var(--color-white) 24%, transparent);
	--color-neutral-300: color-mix(in srgb, var(--color-white) 40%, transparent);

	/* Code Highlighter */
	--color-ch-background: color-mix(in srgb, var(--color-white) 24%, transparent);
	--color-ch-identifier: #e5e7eb;
	--color-ch-keyword: #f472b6;
	--color-ch-class: #93c5fd;
	--color-ch-function: #7dd3fc;
	--color-ch-property: #86efac;
	--color-ch-string: #86efac;
	--color-ch-number: #60a5fa;
	--color-ch-entity: #fde68a;
	--color-ch-jsxliterals: #c4b5fd;
	--color-ch-comment: #9ca3af;
	--color-ch-sign: #fca5a5;
	--color-ch-break: transparent;
	--color-ch-space: transparent;
		
	/* Color Scheme */
	color-scheme: dark;
}

/* Theming (Light) */
html[data-theme="light"] {
	/* Backgrounds */
	--color-bg: var(--color-light);
	
	--color-inverse: var(--color-black);
	--color-on-inverse: var(--color-light);
	
	--color-image-bg: color-mix(in srgb, var(--color-black) 18%, transparent);
	--color-image-bg-inverse: color-mix(in srgb, var(--color-white) 24%, transparent);

	/* Text */
	--color-primary: var(--color-dark);
	--color-secondary: color-mix(in srgb, var(--color-dark) 50%, transparent);

	--color-accent: var(--color-red);
	--color-on-accent: var(--color-black);
	
	/* Alpha variants */
	--color-neutral-100: color-mix(in srgb, var(--color-black) 12%, transparent);
	--color-neutral-200: color-mix(in srgb, var(--color-black) 18%, transparent);
	--color-neutral-300: color-mix(in srgb, var(--color-black) 46%, transparent);

	/* Code Highlighter */
	--color-ch-background: color-mix(in srgb, var(--color-black) 18%, transparent);
	--color-ch-identifier: #1f2937;
	--color-ch-keyword: #9f1239;
	--color-ch-class: #1d4ed8;
	--color-ch-function: #0369a1;
	--color-ch-property: #065f46;
	--color-ch-string: #065f46;
	--color-ch-number: #1e40af;
	--color-ch-entity: #92400e;
	--color-ch-jsxliterals: #6d28d9;
	--color-ch-comment: #6b7280;
	--color-ch-sign: #b91c1c;
	--color-ch-break: transparent;
	--color-ch-space: transparent;
	
	/* Color Scheme */
	color-scheme: light;
}

/* Theming (System) */
@media (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		/* Backgrounds */
		--color-bg: var(--color-black);
		
		--color-inverse: var(--color-light);
	    --color-on-inverse: var(--color-dark);
	
	    --color-image-bg: color-mix(in srgb, var(--color-white) 24%, transparent);
	    --color-image-bg-inverse: color-mix(in srgb, var(--color-black) 18%, transparent);
		
		/* Text */
		--color-primary: var(--color-light);
		--color-secondary: color-mix(in srgb, var(--color-light) 50%, transparent);
		
		--color-accent: var(--color-red);
		--color-on-accent: var(--color-black);
		
		/* Alpha variants */
		--color-neutral-100: color-mix(in srgb, var(--color-white) 16%, transparent);
		--color-neutral-200: color-mix(in srgb, var(--color-white) 24%, transparent);
		--color-neutral-300: color-mix(in srgb, var(--color-white) 40%, transparent);
		
		/* Code Highlighter */
		--color-ch-background: color-mix(in srgb, var(--color-white) 24%, transparent);
		--color-ch-identifier: #e5e7eb;
		--color-ch-keyword: #f472b6;
		--color-ch-class: #93c5fd;
		--color-ch-function: #7dd3fc;
		--color-ch-property: #86efac;
		--color-ch-string: #86efac;
		--color-ch-number: #60a5fa;
		--color-ch-entity: #fde68a;
		--color-ch-jsxliterals: #c4b5fd;
		--color-ch-comment: #9ca3af;
		--color-ch-sign: #fca5a5;
		--color-ch-break: transparent;
		--color-ch-space: transparent;
		
		/* Color Scheme */
		color-scheme: dark;
	}
}

/* Theme Transition */
/* @media (prefers-reduced-motion: no-preference) {
	html[data-theme] * {
		transition:
			background-color 0.4s ease,
			color 0.4s ease,
			border-color 0.4s ease;
	}
} */
