:root {
	/* Pure Colors */
	--color-black-rgb: 14, 14, 14;
	--color-black: rgba(var(--color-black-rgb), 1);
	
	--color-white-rgb: 241, 241, 241;
	--color-white: rgba(var(--color-white-rgb), 1);

	/* Primitive Colors */
	--color-dark-rgb: 40, 40, 42;
	--color-dark: rgba(var(--color-dark-rgb), 1);
	
	--color-light-rgb: 236, 234, 229;
	--color-light: rgba(var(--color-light-rgb), 1);
	
	/* Point Colors */
	--color-red-rgb: 255, 69, 1;
	--color-red: rgba(var(--color-red-rgb), 1);

	/* Border Tokens */
	--border-dark: rgb(var(--color-black-rgb) / 0.18);
	--border-dark-subtle: rgb(var(--color-black-rgb) / 0.12);

	--border-light: rgb(var(--color-white-rgb) / 0.24);
	--border-light-subtle: rgb(var(--color-white-rgb) / 0.16);

	/* Alpha Tokens */
	--alpha-black-12: rgb(var(--color-black-rgb) / 0.12);
	--alpha-black-18: rgb(var(--color-black-rgb) / 0.18);
	--alpha-black-24: rgb(var(--color-black-rgb) / 0.24);
	--alpha-black-46: rgb(var(--color-black-rgb) / 0.46);
	
	--alpha-white-12: rgb(var(--color-white-rgb) / 0.12);
	--alpha-white-16: rgb(var(--color-white-rgb) / 0.16);
	--alpha-white-24: rgb(var(--color-white-rgb) / 0.24);
	--alpha-white-40: rgb(var(--color-white-rgb) / 0.40);
}

/* Theming (Dark) */
:root,
html[data-theme="dark"] {
	/* Backgrounds */
	--color-bg: var(--color-black);
	--color-on-bg: var(--color-light);
	
	/* Surface */
	--color-surface: var(--color-light);
	--color-on-surface: var(--color-dark);
	
	/* Text */
	--color-text-primary: var(--color-light);
	--color-text-secondary: rgb(var(--color-light-rgb) / 0.5);

	/* Border */
	--color-border: var(--border-light);
	--color-border-subtle: var(--border-light-subtle);
	
	/* Accent */
	--color-accent: var(--color-red);
	--color-on-accent: var(--color-black);
	
	/* Neutral */
	--color-neutral-100: var(--alpha-white-16);
	--color-neutral-200: var(--alpha-white-24);
	--color-neutral-300: var(--alpha-white-40);

	/* Code Highlighter */
	--color-ch-background: var(--alpha-white-24);
	
	--color-ch-identifier: #e5e7eb;
	--color-ch-keyword: #f472b6;
	--color-ch-class: #93c5fd;
	--color-ch-function: #7dd3fc;
	--color-ch-property: #86efac;
	--color-ch-string: #86efac;
	--color-ch-number: #60a5fa;
	--color-ch-entity: #fde68a;
	--color-ch-jsxliterals: #c4b5fd;
	--color-ch-comment: #9ca3af;
	--color-ch-sign: #fca5a5;
	--color-ch-break: transparent;
	--color-ch-space: transparent;
		
	/* Color Scheme */
	color-scheme: dark;
}

/* Theming (Light) */
html[data-theme="light"] {
	/* Backgrounds */
	--color-bg: var(--color-light);
	--color-on-bg: var(--color-dark);
	
	/* Surface */
	--color-surface: var(--color-black);
	--color-on-surface: var(--color-light);

	/* Text */
	--color-text-primary: var(--color-dark);
	--color-text-secondary: rgb(var(--color-dark-rgb) / 0.5);

	/* Border */
	--color-border: var(--border-dark);
	--color-border-subtle: var(--border-dark-subtle);

	/* Accent */
	--color-accent: var(--color-red);
	--color-on-accent: var(--color-black);
	
	/* Neutral */
	--color-neutral-100: var(--alpha-black-12);
	--color-neutral-200: var(--alpha-black-18);
	--color-neutral-300: var(--alpha-black-46);

	/* Code Highlighter */
	--color-ch-background: var(--alpha-black-18);
	
	--color-ch-identifier: #1f2937;
	--color-ch-keyword: #9f1239;
	--color-ch-class: #1d4ed8;
	--color-ch-function: #0369a1;
	--color-ch-property: #065f46;
	--color-ch-string: #065f46;
	--color-ch-number: #1e40af;
	--color-ch-entity: #92400e;
	--color-ch-jsxliterals: #6d28d9;
	--color-ch-comment: #6b7280;
	--color-ch-sign: #b91c1c;
	--color-ch-break: transparent;
	--color-ch-space: transparent;
	
	/* Color Scheme */
	color-scheme: light;
}

/* Theming (System) */
@media (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		/* Backgrounds */
		--color-bg: var(--color-black);
		--color-on-bg: var(--color-light);
		
		/* Surface */
		--color-surface: var(--color-light);
		--color-on-surface: var(--color-dark);
		
		/* Text */
		--color-text-primary: var(--color-light);
		--color-text-secondary: rgb(var(--color-light-rgb) / 0.5);

		/* Border */
		--color-border: var(--border-light);
		--color-border-subtle: var(--border-light-subtle);
		
		/* Accent */
		--color-accent: var(--color-red);
		--color-on-accent: var(--color-black);
		
		/* Neutral */
		--color-neutral-100: var(--alpha-white-16);
		--color-neutral-200: var(--alpha-white-24);
		--color-neutral-300: var(--alpha-white-40);
		
		/* Code Highlighter */
		--color-ch-background: var(--alpha-white-24);
		
		--color-ch-identifier: #e5e7eb;
		--color-ch-keyword: #f472b6;
		--color-ch-class: #93c5fd;
		--color-ch-function: #7dd3fc;
		--color-ch-property: #86efac;
		--color-ch-string: #86efac;
		--color-ch-number: #60a5fa;
		--color-ch-entity: #fde68a;
		--color-ch-jsxliterals: #c4b5fd;
		--color-ch-comment: #9ca3af;
		--color-ch-sign: #fca5a5;
		--color-ch-break: transparent;
		--color-ch-space: transparent;
		
		/* Color Scheme */
		color-scheme: dark;
	}
}

/* Theme Transition */
/* @media (prefers-reduced-motion: no-preference) {
	html[data-theme] * {
		transition:
			background-color 0.4s ease,
			color 0.4s ease,
			border-color 0.4s ease;
	}
} */
